# bitcore.service
[Unit]
Description=Bitcore service
After=docker.service
Requires=docker.service
Requires=mongodb.service
After=create_docker_network.service
Requires=create_docker_network.service

[Service]
TimeoutStartSec=0
Restart=on-failure
RuntimeDirectory=bitcoind
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

ExecStartPre=-/usr/bin/docker stop bitcore
ExecStartPre=-/usr/bin/docker rm bitcore
ExecStartPre=-/usr/bin/docker pull quay.io/blockstack/bitcoind:bitcore
ExecStart=/usr/bin/docker run \
  --net=bitcoind \
  -p 38100:8100 \
  -p 33000:3000 \
  --expose 38100 \
  --expose 33000 \
  -e DB_HOST=mongodb.bitcoind \
  -e BITCORE_CONFIG_PATH=/bitcore/bitcore.config.json \
  -v /bitcoind/configs/bitcoin/bitcore.config.json:/bitcore/bitcore.config.json \
  -w /bitcore/packages/bitcore-node \
  --name bitcore \
  quay.io/blockstack/bitcoind:bitcore \
sh -c "npm run tsc && node build/src/server.js"

ExecStop=-/usr/bin/docker stop bitcore
ExecStopPost=-/usr/bin/docker rm -f bitcore
ExecReload=-/usr/bin/docker restart bitcore

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
