# bitcoin_testnet.service
[Unit]
Description=BTC Testnet service
Requires=docker.service
Requires=create_docker_network.service
Before=haproxy.service
After=docker.service
After=create_docker_network.service

[Service]
TimeoutStartSec=5
Restart=always
RemainAfterExit=yes
RestartSec=5
RuntimeDirectory=bitcoind
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

ExecStartPre=-/usr/bin/docker stop bitcoin_testnet
ExecStartPre=-/bin/sleep 1
ExecStartPre=-/usr/bin/docker pull quay.io/blockstack/bitcoind:alpine
ExecStart=/usr/bin/docker run \
  --restart=always \
  --net=bitcoind \
  --ulimit nofile=90000:90000 \
  -p 48332:18332 \
  -p 48333:18333 \
  --expose 48332 \
  --expose 48332 \
  -e BTC_CONF=/etc/bitcoin/bitcoin.conf \
  -e BTC_DATA=/root/.bitcoin \
  -e BTC_PID=/run/bitcoind.pid \
  -v /bitcoind/configs/bitcoin/bitcoin-testnet.conf:/etc/bitcoin/bitcoin.conf \
  -v /data/bitcoin:/root/.bitcoin \
  --name bitcoin_testnet \
  quay.io/blockstack/bitcoind:alpine \
/usr/local/bin/bitcoind -daemon -conf=/etc/bitcoin/bitcoin.conf -pid=/run/bitcoind.pid -datadir=/root/.bitcoin

ExecStop=-/usr/bin/docker stop bitcoin_testnet
ExecStopPost=-/usr/bin/docker rm -f bitcoin_testnet
ExecReload=-/usr/bin/docker restart bitcoin_testnet

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
