# health_checker.service
[Unit]
Description=Health Check Service
Requires=docker.service
Requires=bitcore.service
Requires=bitcoin_core.service
Requires=create_docker_network.service

[Service]
TimeoutStartSec=0
Restart=on-failure
RuntimeDirectory=bitcoind
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

ExecStartPre=-/usr/bin/rm -f /tmp/health-check*
ExecStart=/usr/bin/bash /bitcoind/scripts/check_health.sh

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
