# bitcoind check_ips.service
#   for bitcore node: change env var `-e ROLE=bitcoind` -> `-e ROLE=bitcore `
[Unit]
Description=Check IPs for haproxy Service
ConditionPathExists=/bitcoind/configs/haproxy/haproxy.cfg
ConditionPathExists=/bitcoind/templates/haproxy.jinja2
Requires=docker.service
After=docker.service
After=pull_repo.service

[Service]
Type=oneshot
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker container prune -f --filter "until=4h"
ExecStartPre=-/usr/bin/docker pull quay.io/blockstack/bitcoind:python.gcp
ExecStartPre=-/usr/bin/git -C /bitcoind pull

ExecStart=/usr/bin/docker run -d \
  -e PROJECT=ops-shared \
  -e ROLE=bitcoind \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /bitcoind/configs/haproxy:/bitcoind/configs/haproxy \
  -v /bitcoind/templates:/bitcoind/templates \
  -v /var/run/dbus:/var/run/dbus \
  -v /run/systemd:/run/systemd \
  -v /usr/bin/systemctl:/usr/bin/systemctl \
  -v /etc/systemd/system:/etc/systemd/system \
quay.io/blockstack/bitcoind:python.gcp

[Install]
WantedBy=multi-user.target
