# check_health.timer
[Unit]
Description=Checks Bitcore performance health every minute

[Timer]
OnCalendar=minutely
Persistent=true

[Install]
WantedBy=timers.target
