# clone_repo.service
[Unit]
Description=Checkout bitcoin-docker Repo
ConditionPathExists=!/bitcoind
Before=docker.service
Before=pull_repo.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/git clone -b master --single-branch https://github.com/blockstackpbc/bitcoin-docker /bitcoind

[Install]
WantedBy=multi-user.target
