# create_docker_network.service
[Unit]
Description=BTC Docker Network
ConditionFileIsExecutable=/bitcoind/scripts/create_docker_network.sh
Requires=docker.service
Requires=clone_repo.service
Before=bitcoin_core.service
Before=haproxy.service
After=docker.service


[Service]
TimeoutStartSec=0
Type=oneshot
RemainAfterExit=yes

ExecStart=/bin/sh /bitcoind/scripts/create_docker_network.sh

[Install]
WantedBy=multi-user.target
