# haproxy.service
[Unit]
Description=HAproxy service for btc
Requires=docker.service
Requires=bitcoin_core.service
#Requires=bitcore.service
#Requires=bitcore_insight.service
Requires=create_docker_network.service
After=docker.service
After=bitcoin_core.service
After=create_docker_network.service
#After=bitcore.service
#After=bitcore_insight.service
After=pull_repo.service

[Service]
TimeoutStartSec=0
Restart=on-failure
RemainAfterExit=yes
RestartSec=5
ExecStartPre=-/usr/bin/docker stop haproxy
ExecStartPre=-/usr/bin/docker pull haproxy:alpine
ExecStart=/usr/bin/docker run \
  --net=bitcoind \
  -m 128m \
  -p 8332:8332 \
  -p 8333:8333 \
  -p 80:80 \
  -p 443:443 \
  -p 1024:1024 \
  -p 3000:3000 \
  --expose=80 \
  --expose=443 \
  --expose=1024 \
  --expose=3000 \
  --expose=8332 \
  --expose=8333 \
  -v /bitcoind/configs/haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg \
  --name haproxy \
  haproxy:alpine \
/usr/local/sbin/haproxy -f /usr/local/etc/haproxy/haproxy.cfg -L ${HOSTNAME}

ExecStop=-/usr/bin/docker stop haproxy
ExecStopPost=-/usr/bin/docker rm -f haproxy
ExecReload=-/usr/bin/docker restart haproxy

[Install]
WantedBy=multi-user.target
