# mongodb.service
[Unit]
Description=Mongodb service
After=docker.service
After=create_docker_network.service
Requires=docker.service
Requires=create_docker_network.service
Before=bitcore.service
Before=bitcore_insight.service

[Service]
RuntimeMaxSec=14400
TimeoutStartSec=0
Restart=always
RemainAfterExit=yes
RestartSec=5
ExecStartPre=-/usr/bin/docker stop mongodb
ExecStartPre=-/usr/bin/docker rm mongodb

ExecStartPre=-/usr/bin/docker pull mongo:3.4-jessie
ExecStart=/usr/bin/docker run \
  --net=bitcoind \
  --ulimit nofile=90000:90000 \
  --memory=7680m \
  --expose 27017 \
  -p 27017:27017 \
  -v /data/mongodb:/data/db \
  --name mongodb \
mongo:3.4-jessie

ExecStop=-/usr/bin/docker stop mongodb
ExecStopPost=-/usr/bin/docker rm -f mongodb
ExecReload=-/usr/bin/docker restart mongodb

[Install]
RequiredBy=bitcore.service
