# neon.service
[Unit]
Description=Neon service
After=docker.service
Requires=docker.service
Requires=bitcoin_regtest.service
After=bitcoin_regtest.service
After=create_docker_network.service
Requires=create_docker_network.service

[Service]
TimeoutStartSec=0
Restart=on-failure
RuntimeDirectory=bitcoind
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

ExecStartPre=-/usr/bin/docker stop neon
ExecStartPre=-/usr/bin/docker rm neon
ExecStartPre=-/usr/bin/docker pull quay.io/blockstack/bitcoind:neon
ExecStart=/usr/bin/docker run \
  --net=bitcoind \
  --ulimit nofile=90000:90000 \
  -p 3000:3000 \
  --expose 3000 \
  -v /bitcoind/configs/bitcoin/neon-master-node.toml:/etc/neon-master-node/Config.toml \
  --name neon \
  quay.io/blockstack/bitcoind:neon
/usr/local/bin/neon-master-node /etc/neon-master-node/Config.toml

ExecStop=-/usr/bin/docker stop neon
ExecStopPost=-/usr/bin/docker rm -f neon
ExecReload=-/usr/bin/docker restart neon

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
